<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<root>
		</root>
		<appender name="InfoAppender" type="log4net.Appender.RollingFileAppender,log4net" >
			<param name="File" type="" value="Log/Error/" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value="yyyyMMdd&quot;.ini&quot;" />
			<param name="StaticLogFileName" value="false" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="[%d]%n%m%n" />
			</layout>
		</appender>
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="0" />
			<connectionType value="System.Data.SQLite.SQLiteConnection,System.Data.SQLite" />
			<connectionString value="Data Source=DataBase\\Log4NetSQLite.db;Version=3;" />
			<commandText value="INSERT INTO Log (Date, Level, Logger, Message) VALUES (@Date, @Level, @Logger, @Message)" />
			<parameter>
				<parameterName value="@Date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="@Level" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@Logger" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@Message" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
		</appender>
		<logger name="Error">
			<level value="ERROR" />
			<appender-ref ref="InfoAppender" />
		</logger>
		<logger name="Info">
			<level value="INFO" />
			<appender-ref ref="AdoNetAppender" />
		</logger>
	</log4net>
</configuration>
